openapi: 3.0.0
info:
  title: tado API v2
  description: |
    Community managed API definition for the tado API hosted on https://my.tado.com/api/v2/. 
    This definition is not officially supported or published by tado&ordm;.
    
    Start with `[user] GET /me`. This will give you the id of your home and you can take it further from there.
    
    ## tado&ordm; X support
    
    This API is primarily meant to support homes equipped with tado&ordm; V3 (and earlier generation) devices.
    It provides limited support for tado&ordm; X enabled homes.
    
    API operation groups (and sometimes individual API operations) are labelled to indicate whether they support tado&ordm; X or not:
    
    | group label            | operation label | explanation                               |
    |------------------------|-----------------|-------------------------------------------| 
    | **[ &check; tado X]**  | [ + tado X]     |  operation group (or single operation) supports tado&ordm; X |
    | **[ &cross; tado X]**  | [ NO tado X]    |  operation group (or single operation) does not support tado&ordm; X |     
    | **[ ~ tado X]**        |                 |  some operations do supports tado&ordm; X, others don't |      
    
    Note: when a group is labelled with **[ ~ tado X]**, 
    individual operations in that group are labelled as [ + tado X] or [ NO tado X]
    
    More info: [https://github.com/kritsel/tado-openapispec-v2/wiki/tado-X](https://github.com/kritsel/tado-openapispec-v2/wiki/tado-X)
    
    ## Additional resources
    
    * Github repo where this API definition is maintained: 
    [https://github.com/kritsel/tado-openapispec-v2](https://github.com/kritsel/tado-openapispec-v2)
    * Wiki for this GitHub repo with additional information:
    [https://github.com/kritsel/tado-openapispec-v2/wiki](https://github.com/kritsel/tado-openapispec-v2/wiki/)
  version: 2.2024.12.30.0
servers:
  - url: https://my.tado.com/api/v2/
security:
  - oauth2: [] # no scopes

paths:
  ####################################################################################################################
  # user paths

  /me:
    get:
      summary: Returns information about the authenticated user, (summary) information of their home(s) and mobile devices.
      operationId: getMe # hint for client code generators
      tags:
        - user
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized401'

  /homes/{homeId}/users:
    get:
      summary: Get all users associated with the provided homeId.
      operationId: getUsers # hint for client code generators
      tags:
        - user
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  ####################################################################################################################
  # mobile device paths
  /homes/{homeId}/mobileDevices:
    get:
      summary: Get all mobile devices associated with the provided homeId
      operationId: getMobileDevices # hint for client code generators
      tags:
        - mobile device
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MobileDevice'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/mobileDevices/{mobileDeviceId}:
    get:
      summary: Get a specific mobile device associated with the provided homeId
      operationId: getMobileDevice # hint for client code generators
      tags:
        - mobile device
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: mobileDeviceId
          schema:
            $ref: '#/components/schemas/MobileDeviceId'
          required: true
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileDevice'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
    delete:
      summary: Remove the relationship between a mobile device and a home
      operationId: deleteMobileDeviceFromHome # hint for client code generators
      tags:
        - mobile device
      parameters:
        - in: header
          name: Content-Type
          schema:
            type: string
            pattern: "application/json"
            example: "application/json"
          required: true
          description: >
            Strangely enough a 'Content-Type' header with value 'application/json' 
            is mandatory for this specific endpoint.
            No other endpoint requires it.
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: mobileDeviceId
          schema:
            type: integer
            format: int64
          required: true
          description: ID of a mobile device
      responses:
        '200':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  /homes/{homeId}/mobileDevices/{mobileDeviceId}/settings:
    get:
      summary: Get the settings for a specific mobile device which is associated with the given home
      operationId: getMobileDeviceSettings # hint for client code generators
      tags:
        - mobile device
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: mobileDeviceId
          schema:
            $ref: '#/components/schemas/MobileDeviceId'
          required: true
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileDeviceSettings'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
    put:
      summary: Update the settings for a specific mobile device which is associated with the given home
      operationId: setMobileDeviceSettings # hint for client code generators
      tags:
        - mobile device
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: mobileDeviceId
          schema:
            type: integer
            format: int64
          required: true
          description: ID of a mobile device
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobileDeviceSettings'
            examples:
              enable-geotracking:
                value:
                  geoTrackingEnabled: true
              disable-geotracking:
                value:
                  geoTrackingEnabled: false
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileDeviceSettings'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
        '422':
          $ref: '#/components/responses/InputError422'

  ####################################################################################################################
  # home paths
  /homes/{homeId}:
    get:
      summary: Get full details of a single home.
      description: Use `GET /me` to determine the `homeId` of your home
      operationId: getHome # hint for client code generators
      tags:
        - home
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Home'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/airComfort:
    get:
      summary: Get humidity and temperature indicators for all zones (rooms) in this home
      description: "'Climate comfort' element in the app"
      operationId: getAirComfort # hint for client code generators
      tags:
        - home
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirComfort'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/awayRadiusInMeters:
    put:
      summary: Set the geo-tracking distance.
      description: >
        When the distance between home location and the location of a mobile device which can control this home
        is greater than this distance, tado considers the mobile device to be outside of home.
      operationId: setAwayRadiusInMeters # hint for client code generators
      tags:
        - home
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwayRadiusInput'
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/details:
    put:
      summary: Set home details for this home.
      description: >
        This endpoint expects a complete HomeDetails object, 
        you cannot send a partial object which only contains the properties you would like to update.
      operationId: setHomeDetails # hint for client code generators
      tags:
        - home
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HomeDetails'
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/heatingCircuits:
    get:
      summary: Get information about the heating circuits of this home. [ + tado X]
      operationId: getHeatingCircuits # hint for client code generators
      tags:
        - heating circuit
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HeatingCircuit'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/heatingSystem:
    get:
      summary: Get information about the presence of various heating systems in this home
      operationId: getHeatingSystem # hint for client code generators
      tags:
        - home
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeatingSystem'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/heatingSystem/boiler:
    put:
      summary: Inform tado about the presence of a boiler in this home
      description: >
        When setting the boiler presence to true with a boiler id, the tado api does not seem to generate any
        errors when you supply an unknown boiler id. 
        The resulting response of /homes/{homeId}/heatingSystem will always have boiler.id set to the supplied
        boiler id value and boiler.found set to true.
        
        
        The app assists the user in finding the boiler by brand and model. 
        This is supported by tado's graphql API, and not via the API described in this definition.
      operationId: setBoiler # hint for client code generators
      tags:
        - home
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Boiler1'
            examples:
              not-present:
                value:
                  present: false
              present_no-id:
                value:
                  present: true
              present_with-id:
                value:
                  present: true
                  id: 2699
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/heatingSystem/underfloorHeating:
    put:
      summary: Inform tado about the presence of underfloor heating in this home
      operationId: setUnderfloorHeating # hint for client code generators
      tags:
        - home
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnderfloorHeating'
            examples:
              not-present:
                value:
                  present: false
              present:
                value:
                  present: true
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/incidentDetection:
    get:
      summary: Get the value of the incidentDetection setting for this home.
      description: |
        From [https://support.tado.com/en/articles/4467468-what-is-care-protect](https://support.tado.com/en/articles/4467468-what-is-care-protect):
              
        If you have an Auto-Assist subscription, or if Incident Detection is included in your tado° starter kit, 
        then tado° will constantly monitor your heating system to let you know if something isn’t working properly.
        It considers various factors, including the indoor temperature of each room, your Smart Schedule and open windows.

        If there are any unexpected changes, you’ll receive a notification and be given the option 
        to try to identify and resolve the issue or call in a professional to do so for you. 
        This means you can address boiler problems as they arise, and in some cases even avoid costly repairs. 

        Incident Detection works with all boiler types and interfaces, however it might not detect every incident. 
        For instance, the tado° app won’t show bus interface errors of digitally connected boilers (e.g. regarding a broken pump).
      operationId: getIncidentDetection # hint for client code generators
      tags:
        - home
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentDetection'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
    put:
      summary: Enable or disable incident detection setting for this home.
      description: >
        You won't be able to enable incident detection when it is not supported for your home.
        
        See the description for GET /homes/{homeId}/incidentDetection for more information.
      operationId: setIncidentDetection # hint for client code generators
      tags:
        - home
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentDetectionInput'
            examples:
              enable:
                value:
                  enabled: true
              disable:
                value:
                  enabled: false
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/weather:
    get:
      summary: Get the current weather for the given home.
      operationId: getWeather # hint for client code generators
      tags:
        - home
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Weather'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  ####################################################################################################################
  # home control paths

  /homes/{homeId}/presenceLock:
    put:
      summary: Manually specify whether someone at home or not.
      description: |
        This operation sets a home's `homePresence` property. 
        When this property's value is `AWAY`, the AwayConfiguration of each zone will control
        the (temperature) settings for that zone.
        
        `homePresence` can also be automatically controlled via geo-tracking (requires a paid Auto-Assist subscription).
        When geo-tracking is enabled, this operation overrides the `homePresence` value determined by
        geo-tracking.
      operationId: setPresenceLock # hint for client code generators
      tags:
        - home control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresenceLock'
            examples:
              HOME:
                value:
                  homePresence: HOME
              AWAY:
                value:
                  homePresence: AWAY
      responses:
        '204':
          description: successful empty response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422': # verify
          $ref: '#/components/responses/InputError422'
    delete:
      summary: Remove the manually set home status.
      description: |
        Remove the manually set `homePresence` value as set by `PUT /homes/{homeId}/presenceLock`, 
        handing back control of the `homePresence` value to the geo-tracking capability 
        enabled on the mobile devices used to control this home.
        
        Requires a paid Auto-Assist subscription.
      operationId: deletePresenceLock # hint for client code generators
      tags:
        - home control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '204':
          description: successful empty response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422': # verify
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/state:
    get:
      summary: Get information about the presence state of the home.
      description: |
        `homePresence` can be automatically controlled by enabling geo-tracking on the mobile devices used
        to control the home 
        (see `PUT /homes/{homeId}/mobileDevices/{mobileDeviceId}/settings`,
        requires a paid Auto-Assist subscription).
        Or it can be set via `PUT /homes/{homeId}/presenceLock`
             
        When its value is `AWAY`, the AwayConfiguration of each zone will control 
        the (temperature) settings for that zone.
      
      operationId: getHomeState # hint for client code generators
      tags:
        - home control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeState'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  ####################################################################################################################
  # bridge paths
  /bridges/{bridgeId}:
    get:
      summary: Retrieve Internet Bridge details.
      description: >
        This operation is used in the https://model-selector.tado.com/ webapp 
        and the 'tado&ordm; for Installers' mobile app.
      operationId: getBridge # hint for client code generators
      tags:
        - bridge
      security: [ ] # No security
      parameters:
        - in: path
          name: bridgeId
          schema:
            $ref: '#/components/schemas/BridgeId'
          required: true
          description: unique ID of your tado Internet Bridge
        - in: query
          name: authKey
          schema:
            type: string
            example: 1234
          required: true
          description: printed on your tado Internet Bridge
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bridge'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  ####################################################################################################################
  # boiler paths
  /homeByBridge/{bridgeId}/boilerInfo:
    get:
      summary: Retrieve information about this home's boiler.
      description: >
        This operation is used in the https://model-selector.tado.com/ webapp 
        and the 'tado&ordm; for Installers' mobile app.
      operationId: getBoilerInfo # hint for client code generators
      tags:
        - boiler
      security: [] # No security
      parameters:
        - in: path
          name: bridgeId
          schema:
            $ref: '#/components/schemas/BridgeId'
          required: true
          description: serialNo of your tado Internet Bridge
        - in: query
          name: authKey
          schema:
            type: string
            example: 1234
          required: true
          description: printed on your tado Internet Bridge
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Boiler2'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  /homeByBridge/{bridgeId}/boilerMaxOutputTemperature:
    get:
      summary: Retrieve the boiler's maximum output temperature.
      description: >
        This operation is used in the https://model-selector.tado.com/ webapp 
        and the 'tado&ordm; for Installers' mobile app.
      operationId: getBoilerMaxOutputTemperature # hint for client code generators
      tags:
        - boiler
      security: [] # No security
      parameters:
        - in: path
          name: bridgeId
          schema:
            $ref: '#/components/schemas/BridgeId'
          required: true
          description: serialNo of your tado Internet Bridge
        - in: query
          name: authKey
          schema:
            type: string
            example: 1234
          required: true
          description: printed on your tado Internet Bridge
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoilerMaxOutputTemperature'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
    put:
      summary: Set the boiler's maximum output temperature.
      description: |
        Whether this information is actually transmitted to your boiler or not
        depends on the communication capabilities of your boiler and any connector solution
        used between your boiler and your tado hardware.
        
        This operation is used in the https://model-selector.tado.com/ webapp 
        and the 'tado&ordm; for Installers' mobile app.
      operationId: setBoilerMaxOutputTemperature # hint for client code generators
      tags:
        - boiler
      security: [] # No security
      parameters:
        - in: path
          name: bridgeId
          schema:
            $ref: '#/components/schemas/BridgeId'
          required: true
          description: serialNo of your tado Internet Bridge
        - in: query
          name: authKey
          schema:
            type: string
            example: 1234
          required: true
          description: printed on your tado Internet Bridge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoilerMaxOutputTemperature'
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
        '422':
          $ref: '#/components/responses/InputError422'

  /homeByBridge/{bridgeId}/boilerWiringInstallationState:
    get:
      summary: >
        Retrieves information about the connection between your boiler 
        and the wired tado device which controls your boiler.
      description: >
        This operation is used in the https://model-selector.tado.com/ webapp 
        and the 'tado&ordm; for Installers' mobile app.
      operationId: getBoilerWiringInstallationState # hint for client code generators
      tags:
        - boiler
      security: [] # No security
      parameters:
        - in: path
          name: bridgeId
          schema:
            $ref: '#/components/schemas/BridgeId'
          required: true
          description: serialNo of your tado Internet Bridge
        - in: query
          name: authKey
          schema:
            type: string
            example: 1234
          required: true
          description: printed on your tado Internet Bridge
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoilerWiringInstallationState'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  ####################################################################################################################
  # zone paths
  /homes/{homeId}/zones:
    get:
      summary: Get all zones (a.k.a. rooms) associated with the provided homeId.
      description: >
        Delivers information about each zone in the given home, including the tado devices present in each zone.
        
        
        About the devices: there are multiple ways to list the tado devices in a home or zone:

        * GET /homes/{homeId}/devices 

        * GET /homes/{homeId}/deviceList

        * GET /homes/{homeId}/zones **this operation**
        
        * GET /homes/{homeId}/zones/{zoneId}/control
        
        
        Distinguishing features of **this operation**:

        * **DeviceType 'IB01'**: devices of DeviceType 'IB01' (Internet Bridge) are not included in the response

        * **duties**: the response does tell you the duties of each device

        * **zone**: the response tells you the zone each device belongs to
        
        
        Used in app feature: Home page
      operationId: getZones # hint for client code generators
      tags:
        - zone
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Zone'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
    post:
      summary: Create a new zone (a.k.a. room) and move devices to it.
      operationId: createZone
      tags:
        - zone
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: query
          name: force
          schema:
            type: boolean
          description: >
            To be investigated further. 
            'true' seems to indicate that the zone the device belonged to previously should be deleted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneCreate'

      responses:
        '201':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/zones/{zoneId}/capabilities:
    get:
      summary: Get the temperature setting capabilities of this zone.
      description: This includes current temperature, humidity and heating power information.
      operationId: getZoneCapabilities # hint for client code generators
      tags:
        - zone
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneCapabilities'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  /homes/{homeId}/zones/{zoneId}/dazzle:
    put:
      summary: Enable or disable the dazzle mode of this zone.
      description: >
        Dazzle mode is defined as: "Your tado device shows an animation when settings are changed via Manual Control."
      operationId: setDazzle
      tags:
        - zone
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DazzleInput'
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/zones/{zoneId}/details:
    put:
      summary: Change the name of the zone
      operationId: setDetails
      tags:
        - zone
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneDetailsInput'
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/zones/{zoneId}/openWindowDetection:
    put:
      summary: Set the open window detection settings for this zone
      operationId: setOpenWindowDetection
      tags:
        - zone
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenWindowDetectionInput'
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/zones/{zoneId}/state/openWindow/activate:
    post:
      summary: To be determined what this operation exactly does.
      operationId: activateOpenWindowState # hint for client code generators
      tags:
        - zone
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  /homes/{homeId}/zones/{zoneId}/state/openWindow:
    delete:
      summary: To be determined what this operation exactly does.
      operationId: deactivateOpenWindowState # hint for client code generators
      tags:
        - zone
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  /homes/{homeId}/zones/{zoneId}/state:
    get:
      summary: Get the current state details of a zone (a.k.a. room).
      description: >
        This includes current temperature, humidity and heating power information.
        
        Used in app feature: Home page > a room tile
      operationId: getZoneState # hint for client code generators
      tags:
        - zone
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneState'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  /homes/{homeId}/zoneStates:
    get:
      summary: Get zone state details of every zone (a.k.a. room) in the specified home.
      # double empty lines are intentional
      description: >
        This includes current temperature, humidity and heating power information.
        
        
        Used in app feature: Home page
      operationId: getZoneStates # hint for client code generators
      tags:
        - zone
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneStates'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  ####################################################################################################################
  # zone control paths

  /homes/{homeId}/overlay:
    post:
      summary: Configure the zone overlay (manual override of the configured schedule) of multiple rooms (a.k.a. zones) with a single API method
      description: >
        Used in app feature: Home page > Turn OFF All Rooms
      operationId: setZoneOverlays # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneOverlays'
      responses:
        '204':
          description: successful empty response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'
    delete:
      summary: Remove the zone overlay (manual override of the configured schedule) of multiple rooms (a.k.a. zones) with a single API method
      description: >
        Used in app feature: Home page > Resume Schedule All Rooms
      operationId: deleteZoneOverlays # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: query
          name: rooms
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ZoneId'
          required: true
          description: list of zone IDs whose overlay should be removed (do not include a HOT_WATER zone ID)
      responses:
        '204':
          description: successful empty response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/zones/{zoneId}/defaultOverlay:
    get:
      summary: >
        Get the ZoneOverlay.termination.typeSkillBasedApp value to use when a user sets (and thus overrides) 
        the target temperature for a zone via a tado thermostat device.
      description: Only when the type TIMER is used should durationInSeconds be specified as well.
      operationId: getDefaultZoneOverlay # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultZoneOverlay'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404' # when the zone does not exist
    put:
      summary: >
        Set the ZoneOverlay.termination.typeSkillBasedApp value to use when a user sets (and thus overrides) 
        the target temperature for a zone via a tado thermostat device.
      description: When you use the type TIMER you also need to set durationInSeconds.
      operationId: setDefaultZoneOverlay # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DefaultZoneOverlay'
            examples:
              MANUAL:
                value:
                  terminationCondition:
                    type: MANUAL
              TADO_MODE:
                value:
                  terminationCondition:
                    type: TADO_MODE
              TIMER:
                value:
                  terminationCondition:
                    type: TIMER
                    durationInSeconds: 900
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultZoneOverlay'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404' # when the zone does not exist
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/zones/{zoneId}/earlyStart:
    get:
      summary: Control whether Tado makes sure a set temperature is reached at the start of a block
      operationId: getEarlyStart # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarlyStart'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
        '422':
          $ref: '#/components/responses/InputError422'
    put:
      summary: Control whether Tado makes sure a set temperature is reached at the start of a block
      operationId: setEarlyStart # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarlyStart'
            examples:
              enable:
                value:
                  enabled: true
              disable:
                value:
                  enabled: false
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarlyStart'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/zones/{zoneId}/overlay:
    get:
      summary: Get the overlay (manual override of the configured temperature schedule) of the given zone (a.k.a. room)
      operationId: getZoneOverlay # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneOverlay'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404' # when the zone does not exist or there is no overlay for this zone
    put:
      summary: Set the overlay (manual override of the configured temperature schedule) for the given zone (a.k.a. room)
      operationId: setZoneOverlay # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneOverlay'
            examples:
              MANUAL-OFF:
                value:
                  setting:
                    type: HEATING
                    power: OFF
                  termination:
                    typeSkillBasedApp: MANUAL
              MANUAL-ON:
                value:
                  setting:
                    type: HEATING
                    power: ON
                    temperature:
                      celsius: 19.5
                  termination:
                    typeSkillBasedApp: MANUAL
              TADO_MODE-ON:
                value:
                  setting:
                    type: HEATING
                    power: ON
                    temperature:
                      celsius: 19.5
                  termination:
                    typeSkillBasedApp: TADO_MODE
              NEXT_TIME_BLOCK-ON:
                value:
                  setting:
                    type: HEATING
                    power: ON
                    temperature:
                      celsius: 19.5
                  termination:
                    typeSkillBasedApp: NEXT_TIME_BLOCK
              TIMER-ON:
                value:
                  setting:
                    type: HEATING
                    power: ON
                    temperature:
                      celsius: 19.5
                  termination:
                    typeSkillBasedApp: TIMER
                    durationInSeconds: 3600
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneOverlay'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'
    delete:
      summary: Remove the overlay (manual override of the configured temperature schedule) for the given zone (a.k.a. room)
      operationId: deleteZoneOverlay # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '204':
          description: successful empty response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/zones/{zoneId}/schedule/awayConfiguration:
    get:
      summary: Get the (temperature) settings to use for the given zone (a.k.a. room) when the home state is AWAY.
      operationId: getAwayConfiguration # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneAwayConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
    put:
      summary: Set the (temperature) settings to use for the given zone (a.k.a. room) when the home state is AWAY.
      operationId: setAwayConfiguration # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneAwayConfiguration'
            examples:
              HEATING-OFF:
                value:
                  type: HEATING
                  preheatingLevel: OFF
                  setting:
                    type: HEATING
                    power: OFF
              HEATING-ON:
                value:
                  type: HEATING
                  preheatingLevel: OFF
                  setting:
                    type: HEATING
                    power: ON
                    temperature:
                      celsius: 12
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/zones/{zoneId}/schedule/activeTimetable:
    get:
      summary: Get the active timetable type for the given zone (a.k.a. room)
      operationId: getActiveTimetableType # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimetableType'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'
    put:
      summary: Set the active timetable type for the given zone (a.k.a. room)
      operationId: setActiveTimetableType # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimetableType'
            examples:
              ONE_DAY:
                value:
                  id: 0
              THREE_DAY:
                value:
                  id: 1
              SEVEN_DAY:
                value:
                  id: 2
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimetableType'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/zones/{zoneId}/schedule/timetables:
    get:
      summary: Get the available timetable types
      operationId: getZoneTimetables # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                description: all available timetable types
                items:
                  $ref: '#/components/schemas/TimetableType'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/zones/{zoneId}/schedule/timetables/{timetableTypeId}:
    get:
      summary: Get the timetable type for the given timetable type ID
      operationId: getZoneTimetable # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
        - in: path
          name: timetableTypeId
          schema:
            type: integer
          required: true
          example: 1
          description: ID of a timetable type
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimetableType'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  /homes/{homeId}/zones/{zoneId}/schedule/timetables/{timetableTypeId}/blocks:
    get:
      summary: Get the user defined timetable blocks for the given zoneId and given timetableTypeId.
      # the double empty lines below are intentional, they control the layout in Swagger UI.
      description: >
        For each zone you can define three different timetables, where each timetable is identified by a timetable type: 
        
        * ONE_DAY (the same schedule for every day of the week),
        
        * THREE_DAY (the same schedule for weekdays, and a separate schedule for saturday and sunday) and
        
        * SEVEN_DAY (a different schedule for each day of the week).
        
        
        Only one of these timetables can be active at any one time 
        (see `/homes/{homeId}/zones/{zoneId}/schedule/activeTimetable`).
        
        
        Each timetable for a timetable type consists of an array of blocks.
        Each block consists of a day type (e.g. MONDAY_TO_FRIDAY for the THREE_DAY timetable type), a start time and end time 
        and the setting (e.g. temperature) for that time period.
      operationId: getZoneTimetableBlocks # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
        - in: path
          name: timetableTypeId
          schema:
            $ref: '#/components/schemas/TimetableTypeId'
          required: true
          example: 1
          description: ID of a timetable type
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimetableBlock'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  /homes/{homeId}/zones/{zoneId}/schedule/timetables/{timetableTypeId}/blocks/{dayType}:
    get:
      summary: Get the user defined timetable blocks for the given zoneId, timetableTypeId and dayType
      # the double empty lines below are intentional, they control the layout in Swagger UI.
      description: >
        For each zone you can define three different timetables, where each timetable is identified by a timetable type: 

        * ONE_DAY (the same schedule for every day of the week),

        * THREE_DAY (the same schedule for weekdays, and a separate schedule for saturday and sunday) and

        * SEVEN_DAY (a different schedule for each day of the week).


        Only one of these timetables can be active at any one time 
        (see `/homes/{homeId}/zones/{zoneId}/schedule/activeTimetable`).


        Each timetable for a timetable type consists of an array of blocks.
        Each block consists of a day type (e.g. MONDAY_TO_FRIDAY for the THREE_DAY timetable type), a start time and end time 
        and the setting (e.g. temperature) for that time period.
      operationId: getTimetableBlocksByDayType # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
        - in: path
          name: timetableTypeId
          schema:
            $ref: '#/components/schemas/TimetableTypeId'
          required: true
          example: 1
          description: ID of a timetable type
        - in: path
          name: dayType
          schema:
            $ref: '#/components/schemas/DayType'
          required: true
          example: MONDAY_TO_FRIDAY
          description: name of a day type
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimetableBlock'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
    put:
      summary: Update the timetable (containing all blocks!) for the given zoneId, timetableTypeId and dayType
      operationId: setTimetableBlocksForDayType # hint for client code generators
      tags:
        - zone control
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
        - in: path
          name: timetableTypeId
          schema:
            $ref: '#/components/schemas/TimetableTypeId'
          required: true
          example: 1
          description: ID of a timetable type
        - in: path
          name: dayType
          schema:
            $ref: '#/components/schemas/DayType'
          required: true
          example: MONDAY_TO_FRIDAY
          description: name of a day type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TimetableBlock'
            examples:
              heating-workday:
                value:
                  - dayType: MONDAY_TO_FRIDAY
                    start: "00:00"
                    end: "07:00"
                    geolocationOverride: false
                    setting:
                      type: HEATING
                      power: "ON"
                      temperature:
                        celsius: 15
                  - dayType: MONDAY_TO_FRIDAY
                    start: "07:00"
                    end: "08:30"
                    geolocationOverride: false
                    setting:
                      type: HEATING
                      power: "ON"
                      temperature:
                        celsius: 19.5
                  - dayType: MONDAY_TO_FRIDAY
                    start: "08:30"
                    end: "17:30"
                    geolocationOverride: false
                    setting:
                      type: HEATING
                      power: "ON"
                      temperature:
                        celsius: 15
                  - dayType: MONDAY_TO_FRIDAY
                    start: "17:30"
                    end: "00:00"
                    geolocationOverride: false
                    setting:
                      type: HEATING
                      power: "ON"
                      temperature:
                        celsius: 19.5
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimetableBlock'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
        '422':
          $ref: '#/components/responses/InputError422'

  ####################################################################################################################
  # device paths
  /devices/{deviceId}:
    get:
      summary: Get a single tado device.
      operationId: getDevice # hint for client code generators
      tags:
        - device
      parameters:
        - in: path
          name: deviceId
          schema:
            $ref: '#/components/schemas/DeviceId'
          required: true
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /devices/{deviceId}/childLock:
    put:
      summary: Enable or disable the child lock for this device.
      operationId: setChildLock # hint for client code generators
      tags:
        - device
      parameters:
        - in: path
          name: deviceId
          schema:
            $ref: '#/components/schemas/DeviceId'
          required: true
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /devices/{deviceId}/identify:
    post:
      summary: Instruct the device to say 'hi' on its display.
      description: This is only supported for devices which have the `IDENTIFY` capability.
      operationId: identifyDevice # hint for client code generators
      tags:
        - device
      parameters:
        - in: path
          name: deviceId
          schema:
            $ref: '#/components/schemas/DeviceId'
          required: true
      responses:
        '200':
          description: successful response; response body is empty, but response statuscode is 200 and not 204
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /devices/{deviceId}/temperatureOffset:
    get:
      summary: Get the temperature offset for the given device.
      description: >
        Depending on how close the tado measuring device in a room is to the heating/cooling source,
        the measured temperature might be off.
        
        The offset instructs tado to increase/decrease the measured temperature by a certain amount,
        before it starts using the value as input for automated temperature control.
      operationId: getTemperatureOffset # hint for client code generators
      tags:
        - device
      parameters:
        - in: path
          name: deviceId
          schema:
            $ref: '#/components/schemas/DeviceId'
          required: true
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Temperature'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
    put:
      summary: Set the temperature offset for the given device (there is not DELETE for this resource).
      description: >
        Depending on how close the tado measuring device in a room is to the heating/cooling source,
        the measured temperature might be off.
        
        The offset instructs tado to increase/decrease the measured temperature by a certain amount,
        before it starts using the value as input for automated temperature control.
      operationId: setTemperatureOffset # hint for client code generators
      tags:
        - device
      parameters:
        - in: path
          name: deviceId
          schema:
            $ref: '#/components/schemas/DeviceId'
          required: true
          description: the serialNo of a tado device
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Temperature'
            examples:
              celsius:
                value:
                  celsius: 1.75
              fahrenheit:
                value:
                  fahrenheit: -2.25
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Temperature'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/devices:
    get:
      summary: Get all tado devices associated with the provided homeId.
      description: >
        There are multiple ways to list the tado devices in a home or zone:
        
        * GET /homes/{homeId}/devices **this operation**
        
        * GET /homes/{homeId}/deviceList
        
        * GET /homes/{homeId}/zones
        
        * GET /homes/{homeId}/zones/{zoneId}/control
        
        
        Distinguishing features of **this operation**:
        
        * **DeviceType 'IB01'**: device of DeviceType 'IB01' (Internet Bridge) is included in the response

        * **duties**: the response does not tell you the duties of each device

        * **zone**: the response does not tell you the zone each device belongs to

      operationId: getDevices # hint for client code generators
      tags:
        - device
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/deviceList:
    get:
      summary: Get all tado devices associated with the provided homeId, together with the zone (a.k.a. room) they are in.
      description: >
        There are multiple ways to list the tado devices in a home or zone:
        
        * GET /homes/{homeId}/devices 
        
        * GET /homes/{homeId}/deviceList **this operation**
        
        * GET /homes/{homeId}/zones
        
        * GET /homes/{homeId}/zones/{zoneId}/control
        
        
        Distinguishing features of **this operation**:
        
        * **DeviceType 'IB01'**: device of DeviceType 'IB01' (Internet Bridge) is included in the response
        
        * **duties**: the response only tells you if the device has a UI duty, no other duties (like driver or leader) are mentioned
        
        * **zone**: the response tells you the zone each device belongs to

      operationId: getDeviceList # hint for client code generators
      tags:
        - device
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceList'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/installations:
    get:
      summary: Always returns an empty list.
      deprecated: true
      operationId: getInstallations # hint for client code generators
      tags:
        - device
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  # no properties defined as result is an empty list
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'

  /homes/{homeId}/zones/{zoneId}/control:
    get:
      summary: >
        Returns the heating circuit the zone (a.k.a. room) belongs to, and the tado devices within the zone 
        grouped by their duty. [ NO tado X]
      description: >
        There are multiple ways to list the tado devices in a home or zone:

        * GET /homes/{homeId}/devices 

        * GET /homes/{homeId}/deviceList 

        * GET /homes/{homeId}/zones

        * GET /homes/{homeId}/zones/{zoneId}/control **this operation**


        Distinguishing features of **this operation**:

        * **device types**: devices of DeviceType 'IB01' (Internet Bridge) and 'BR02' (Wireless Receiver) are not included in the response

        * **duties**: the response tells you thy duty each device has (ui, driver, leader)

        * **zone**: the response tells you the zone each device belongs to

      operationId: getZoneControl # hint for client code generators
      tags:
        - device
        - heating circuit
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneControl'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'

  /homes/{homeId}/zones/{zoneId}/control/heatingCircuit:
    put:
      summary: Assign the zone to a specific heating circuit or make it independent of a heating circuit. [ NO tado X]
      description: >
        See /homes/{homeId}/heatingCircuits to get a list of heating circuits in a home.
        
        In the tado documentation a heating circuit is called a 'heating zone'. 
        It is defined as 
        "A Heating Zone refers to the piping system that carries hot water from the boiler to your rooms, 
         and back to the boiler."
        
        A 'heating zone' is not to be confused with a 'zone'; a 'zone' represents a single room 
        which is serviced by a 'heating zone'
      operationId: setHeatingCircuit
      tags:
        - heating circuit
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      requestBody:
        required: false
        description: leave it empty to remove a zone from a heating cicruit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HeatingCircuitInput'
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneControl'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/zones/{zoneId}/devices:
    post:
      summary: Move a device to another pre-existing zone (a.k.a. room)
      description: Use POST /homes/{homeId}/zones to move a device to a new zone.
      operationId: moveDevice
      tags:
        - device
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
        - in: query
          name: force
          schema:
            type: boolean
          description: >
            To be investigated further. 
            'true' seems to indicate that the zone the device belonged to previously should be deleted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serialNo:
                  $ref: '#/components/schemas/DeviceId'
      responses:
        '200':
          description: successful response (empty)
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '422':
          $ref: '#/components/responses/InputError422'

  /homes/{homeId}/zones/{zoneId}/measuringDevice:
    get:
      summary: Returns the tado device which measures temperature and humidity in the given zone (a.k.a. room).
      description: Returns 404 when applied to a HOT_WATER zone
      operationId: getZoneMeasuringDevice # hint for client code generators
      tags:
        - device
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
    put:
      summary: Set the tado device which should measure temperature and humidity in the given zone (a.k.a. room).
      description: Not applicable for a HOT_WATER zone
      operationId: setZoneMeasuringDevice # hint for client code generators
      tags:
        - device
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serialNo:
                  $ref: '#/components/schemas/DeviceId'
      responses:
        '204':
          description: successful response
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'
        '422':
          $ref: '#/components/responses/InputError422'

  ####################################################################################################################
  # report paths

  /homes/{homeId}/zones/{zoneId}/dayReport:
    get:
      summary: Get historic information for a particular day for a particular zone (a.k.a. room).
      description: Not supported for zones of ZoneType HOT_WATER
      operationId: getZoneDayReport # hint for client code generators
      tags:
        - report
      parameters:
        - in: path
          name: homeId
          schema:
            $ref: '#/components/schemas/HomeId'
          required: true
          description: unique ID of a home the authenticated user has access to
        - in: path
          name: zoneId
          schema:
            $ref: '#/components/schemas/ZoneId'
          required: true
          description: ID of a zone (unique within a home)
        - in: query
          name: date
          schema:
            type: string
            format: date
          required: true
          example: "2018-02-14"
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DayReport'
        '401':
          $ref: '#/components/responses/Unauthorized401'
        '403':
          $ref: '#/components/responses/AccessDenied403'
        '404':
          $ref: '#/components/responses/NotFound404'


components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://auth.tado.com/oauth/token
          scopes: {}

  responses:
    Unauthorized401:
      description: unauthorized, invalid access token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    AccessDenied403:
      description: access denied, the authenticated user does not have access to the specified resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound404:
      description: not found, the specified resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InputError422:
      description: >
        The request body is invalid or the requested operation is not supported.
        This can have all kinds of reasons, some examples:
        
        * a required property is missing
        
        * an invalid value is used for a property
        
        * a particular operation is not allowed on a resource given the state of the resource
        
        * a particular zone specific operation is not supported for the zone's ZoneTYpe
        
        * a particular operation requires a paid Auto-Assist subscription which is not active for the home
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse422'

  schemas:
    # AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    ActivityDataPoints:
      type: object
      description: Part of ZoneState. Empty for a HOT_WATER zone
      properties:
        heatingPower:
          $ref: '#/components/schemas/PercentageDataPoint'

    AirComfort:
      type: object
      description: >
        Result of /homes/{homeId}/airComfort. 
        Comfort properties (except roomId) are not present when there is no connection with the measuring device in the room
        (e.g because of an empty device battery).
      properties:
        freshness:
          type: object
          properties:
            value:
              $ref: '#/components/schemas/AirFreshness'
            lastOpenWindow:
              type: string
              format: date-time
              example: "2024-08-07T16:40:03Z"
        comfort:
          type: array
          items:
            type: object
            properties:
              roomId:
                $ref: '#/components/schemas/ZoneId'
              temperatureLevel:
                $ref: '#/components/schemas/TemperatureLevel'
              humidityLevel:
                $ref: '#/components/schemas/HumidityLevel'
              coordinate:
                type: object
                properties:
                  radial:
                    type: number
                    format: float
                    example: 0.22
                  angular:
                    type: integer
                    example: 76

    AirConditioningZoneSettings:
      type: object
      description: used in ZoneCapabilities for zones of type AIR_CONDITIONING
      allOf:
        - $ref: '#/components/schemas/AirConditioningZoneSettingsBase'
        - properties:
            temperature:
              $ref: '#/components/schemas/Temperature'

    AirConditioningZoneSettingsBase:
      type: object
      description: used in ZoneCapabilities for zones of type AIR_CONDITIONING
      properties:
        fanLevel:
          $ref: '#/components/schemas/FanLevel'
        verticalSwing:
          $ref: '#/components/schemas/VerticalSwing'
        horizontalSwing:
          $ref: '#/components/schemas/HorizontalSwing'
        light:
          $ref: '#/components/schemas/Light'

    AirConditioningMode:
      type: string
      enum: [AUTO, COOL, HEAT, DRY, FAN]
      example: COOL


    AirConditioningModeCapabilities:
      type: object
      description: used in ZoneCapabilities for zones of type AIR_CONDITIONING
      allOf:
        - $ref: '#/components/schemas/AirConditioningModeCapabilitiesBase'
        - properties:
            temperatures:
              $ref: '#/components/schemas/TemperatureCapability'

    AirConditioningModeCapabilitiesBase:
      type: object
      description: used in ZoneCapabilities for zones of type AIR_CONDITIONING
      properties:
        fanLevel:
          type: array
          items:
            $ref: '#/components/schemas/FanLevel'
        verticalSwing:
          type: array
          items:
            $ref: '#/components/schemas/VerticalSwing'
        horizontalSwing:
          type: array
          items:
            $ref: '#/components/schemas/HorizontalSwing'
        light:
          type: array
          items:
            $ref: '#/components/schemas/Light'

    AirFreshness:
      type: string
      enum: [FAIR, FRESH]
      example: FRESH
      description: The air freshness level for the entire home. Used in AirComfort.

    AwayRadiusInput:
      type: object
      properties:
        awayRadiusInMeters:
          type: number
          format: float

    # BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
    BatteryState:
      type: string
      enum: [LOW, NORMAL]
      example: NORMAL
      description: device property known to be present for DeviceType SU02, VA02

    Boiler1:
      type: object
      description: element of HeatingSystem
      properties:
        present:
          type: boolean
          example: true
        id:
          type: integer
          example: 2699
          description: Tado specific id of the type of boiler you have, it gets set when you select a boiler via the app
        found:
          type: boolean
          example: true

    Boiler2:
      type: object
      description: Response of GET /homeByBridge/{bridgeId}/boilerInfo
      properties:
        boilerPresent:
          type: boolean
[...]
