openapi: 3.0.0
info:
  title: Tado
  description: Community managed API specification for the tado smart thermostat solution (not officially supported or published by tado).
  version: 2.2024.07.31.2
servers:
  - url: https://my.tado.com/api/v2/
security:
  - oauth2: [] # no scopes

paths:
  /homes:
    get:
      summary: Get full details of all homes associated with the authenticated user
      operationId: getHomes
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Home'
  /homes/{homeId}:
    get:
      summary: Get full details of a home by ID
      operationId: getHome
      parameters:
        - in: path
          name: homeId
          schema:
            type: string
          required: true
          description: unique ID of a home
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Home'
  /homes/{homeId}/devices:
    get:
      summary: Get all tado devices associated with the provided homeId.
      # the double blank lines int the description are intentional, to force a new line in the rendered text on Swagger UI
      description: >
        The device information included in the response for `/homes/{homeId}/zones` and `/homes/{homeId}/zones/{zoneId}`
        includes the `duties` property, while the response for this path does not. 
        
        
        The response for this path does include devices of DeviceType `IB01` (Internet Bridge), 
        while the responses for the zone related paths do not.
      operationId: getDevices
      parameters:
        - in: path
          name: homeId
          schema:
            type: string
          required: true
          description: ID of a home (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceBase'
  /homes/{homeId}/mobileDevices:
    get:
      summary: Get all mobile devices associated with the provided homeId
      operationId: getMobileDevices
      parameters:
        - in: path
          name: homeId
          schema:
            type: string
          required: true
          description: ID of a home (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MobileDevice'
  /homes/{homeId}/state:
    get:
      summary: Get the state of a home
      operationId: getHomeState
      parameters:
        - in: path
          name: homeId
          schema:
            type: string
          required: true
          description: ID of a home (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeState'
  /homes/{homeId}/zones:
    get:
      summary: Get all zones associated with the provided homeId.
      description: >
        Includes full information of the tado devices present in each zone. 
        The response does not include any device of DeviceType `IB01` (Internet Bridge);
        use `/homes/{homeId}/devices` instead.
      operationId: getZones
      parameters:
        - in: path
          name: homeId
          schema:
            type: string
          required: true
          description: ID of a home (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Zone'
  /homes/{homeId}/zones/{zoneId}:
    get:
      summary: Get a specific zone within a specific home.
      description: >
        Includes full information of the tado devices present in the specified zone. 
        The response does not include any device of DeviceType `IB01` (Internet Bridge);
        use `/homes/{homeId}/devices` instead.      operationId: getZone
      parameters:
        - in: path
          name: homeId
          schema:
            type: string
          required: true
          description: unique ID of a home
        - in: path
          name: zoneId
          schema:
            type: string
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Zone'
  /homes/{homeId}/zones/{zoneId}/state:
    get:
      summary: Get the state of a zone. This includes current temperature, humidity and heating power information.
      operationId: getZoneSate
      parameters:
        - in: path
          name: homeId
          schema:
            type: string
          required: true
          description: unique ID of a home
        - in: path
          name: zoneId
          schema:
            type: string
          required: true
          description: ID of a zone (unique within a home)
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneState'
  /me:
    get:
      summary: Returns information about the authenticated user, (summary) information of their home(s) and mobile devices.
      operationId: getMe
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        password:
          tokenUrl: https://auth.tado.com/oauth/token
          scopes: {}

  schemas:
    Device:
      description: >
        Some of the properties are only available for certain device types. 
        Certain values for some properties are only applicable to certain device types. 
        Wherever device type specific information is known, it is documented. 
        But you cannot count on this information being fully complete.
      allOf:
        - $ref: '#/components/schemas/DeviceBase'
      properties:
        duties:
          type: array
          items:
            type: string
            example: ZONE_UI
            description: "known values: ZONE_UI (seen for DeviceType SU02, VA02), ZONE_LEADER (seen for DeviceType SU02, VA02), ZONE_DRIVER (seen for DeviceType VA02)"

    DeviceBase:
      type: object
      description: >
        Some of the properties are only available for certain device types. 
        Certain values for some properties are only applicable to certain device types. 
        Wherever device type specific information is known, it is documented. 
        But you cannot count on this information being fully complete.
      properties:
        deviceType:
          $ref: '#/components/schemas/DeviceType'
        serialNo:
          type: string
          example: SU4126033143
        shortSerialNo:
          type: string
          example: SU4126033143
        currentFwVersion:
          type: string
          example: 215.1
        connectionState:
          type: object
          description: "property known to be present for DeviceType SU02, VA02, BR02"
          properties:
            value:
              type: boolean
              example: true
            timestamp:
              type: string
              format: date-time
              example: "2022-11-25T09:40:14.803Z"
        characteristics:
          type: object
          properties:
            capabilities:
              type: array
              description: array known to be empty for DeviceType BR02
              items:
                type: string
                example: INSIDE_TEMPERATURE_MEASUREMENT
                description: "known values: INSIDE_TEMPERATURE_MEASUREMENT (seen for DeviceType SU02, VA02), IDENTIFY (seen for DeviceType SU02, VA02), RADIO_ENCRYPTION_KEY_ACCESS (seen for DeviceType IB01)"
        mountingState:
          type: object
          description: property known to be present for DeviceType VA02
          properties:
            value:
              type: string
              example: CALIBRATED
              description: "known values: CALIBRATED; most probably an enum in the actual API"
            timestamp:
              type: string
              format: date-time
              example: "2022-11-25T09:40:14.803Z"
        mountingStateWithError:
          type: string
          example: CALIBRATED
          description: "property known to be present for DeviceType VA02; known values: CALIBRATED"
        batteryState:
          type: string
          example: NORMAL
          description: "property known to be present for DeviceType SU02, VA02; known values: NORMAL"
        orientation:
          type: string
          example: HORIZONTAL
          description: "property known to be present for DeviceType VA02; known values: HORIZONTAL"
        childLockEnabled:
          type: boolean
          example: false
          description: "property known to be present for DeviceType VA02"
        isDriverConfigured:
          type: boolean
          example: true
          description: "property known to be present for DeviceType BR02"
        inPairingMode:
          type: boolean
          example: false
          description: "property known to be present for DeviceType IB01"

    DeviceType:
      type: string
      example: VA02
      description: "known values: BR02 (Wireless Receiver), IB01 (Internet Bridge), SU02 (Wireless Smart Thermostat V3+), VA02 (Smart Radiator Thermostat V3+)"

    Home:
      allOf:
        - $ref: '#/components/schemas/HomeBase'
      properties:
        dateTimeZone:
          type: string
          example: "Europe/London"
        dateCreated:
          type: string
          format: date-time
          example: "2022-11-25T09:40:14.803Z"
        temperatureUnit:
          type: string
          enum: [CELSIUS, FAHRENHEIT]
          example: CELSIUS
        partner:
#          type: ???
          nullable: true
        simpleSmartScheduleEnabled:
          type: boolean
          example: true
        awayRadiusInMeters:
          type: integer
          example: 400
        installationCompleted:
          type: boolean
          example: true
        incidentDetection:
          type: object
          properties:
            supported:
              type: boolean
              example: true
            enabled:
              type: boolean
              example: true
        generation:
          type: string
          example: PRE_LINE_X
          description: "known values: PRE_LINE_X"
        zonesCount:
          type: integer
          example: 5
          description: number of zones is this home
        language:
          type: string
          example: nl
        skills:
          type: array
          items:
            type: string
          description: this is assumed to be an array of strings, currently tested set-up returns an empty array
        christmasModeEnabled:
          type: boolean
          example: true
          description: no idea what this means, but would be really interesting to know more...
        showAutoAssistReminders:
          type: boolean
          example: true
        contactDetails:
          type: object
          description: >
            the primary contact for this home; 
            also appears to be the only one to receive any email notifications (like 'low battery' or 'open window' warnings)
          properties:
            name:
              type: string
              example: "Kristel"
            email:
              type: string
              example: "kristel@example.com"
            phone:
              type: string
              example: "+31123456789"
        address:
          type: object
          description: postal address of this home
          properties:
            addressLine1:
              type: string
              example: "Kerkstraat 1"
            addressLine2:
              type: string
              nullable: true
            zipCode:
              type: string
              example: "1234AA"
            city:
              type: string
              example: "Utrecht"
            state:
              type: string
              nullable: true
            country:
              type: string
              description: most probably an ISO 3166-1 alpha-3 country code
              example: "NLD"
        geolocation:
          type: object
          description: geo location of this home, most probably used to associated weather information with this home
          properties:
            latitude:
              type: number
              format: double
              example: 50.1234567
            longitude:
              type: number
              format: double
              example: -1.1234567
        consentGrantSkippable:
          type: boolean
          example: true
        enabledFeatures:
          type: array
          items:
            type: string
            description: "known values: AA_SETTINGS_AS_WEBVIEW, AA_UPSELLING_A, CLIMATE_REPORT_AS_WEBVIEW, EIQ_SETTINGS_AS_WEBVIEW, HIDE_BOILER_REPAIR_SERVICE, OWD_SETTINGS_AS_WEBVIEW, SMART_SCHEDULE_AS_WEBVIEW"
        isAirComfortEligible:
          type: boolean
          example: true
        isBalanceAcEligible":
          type: boolean
          example: false
        isEnergyIqEligible:
          type: boolean
          example: true,
        isHeatSourceInstalled:
          type: boolean
          example: false
        isBalanceHpEligible:
          type: boolean
          example: false

    HomeBase:
      type: object
      properties:
        id:
          type: string
          description: unique home ID
          example: 1118186
        name:
          type: string
          description: user assigned name for this home
          example: my home

    HomeState:
      type: object
      properties:
        presence:
          type: string
          example: HOME
          description: "known values: HOME"
        presenceLocked:
          type: boolean
          example: true

    MobileDevice:
      type: object
      properties:
        id:
          type: string
          example: 8254700
        name:
          type: string
          example: my device
          description: user assigned name for this device
        settings:
          type: object
          properties:
            geoTrackingEnabled:
              type: boolean
              example: false
            specialOffersEnabled:
              type: boolean
              example: true
            onDemandLogRetrievalEnabled:
              type: boolean
              example: false
        deviceMetadata:
          type: object
          properties:
            platform:
              type: string
              example: Android
            osVersion:
              type: string
              example: 11
            model:
              type: string
              example: Samsung_SM-T720
            locale:
              type: string
              example: nl

    User:
      type: object
      properties:
        name:
          type: string
          example: Kristel
        email:
          type: string
          example: kristel@example.org
        username:
          type: string
          example: kristel@example.org
        id:
          type: string
          description: globally unique user ID
          example: a7c7fc08-e362-4700-e9a1-45a5bded5c124
        locale:
          type: string
          example: en
        homes:
          type: array
          items:
            $ref: '#/components/schemas/HomeBase'
        mobileDevices:
          type: array
          items:
            $ref: '#/components/schemas/MobileDevice'

    Zone:
      type: object
      description: a heating (or cooling) zone in a home
      properties:
        id:
          type: string
          description: unique id of the zone within the home it belongs to
          example: 2
        name:
          type: string
          description: user assigned name
          example: my living room
        type:
          type: string
          description: "known values: HEATING, HOT_WATER"
          example: HEATING
        dateCreated:
          type: string
          format: date-time
          example: "2022-11-25T09:40:14.803Z"
        deviceTypes:
          type: array
          items:
            $ref: '#/components/schemas/DeviceType'
        devices:
          type: array
          items:
            $ref: '#/components/schemas/Device'
        reportAvailable:
          type: boolean
          example: false
        showScheduleSetup:
          type: boolean
          example: true
        supportsDazzle:
          type: boolean
          example: true
        dazzleEnabled:
          type: boolean
          example: true
        dazzleMode:
          type: object
          properties:
            supported:
              type: boolean
              example: true
            enabled:
              type: boolean
              example: true
        openWindowDetection:
          type: object
          properties:
            supported:
              type: boolean
              example: true
            enabled:
              type: boolean
              example: true
            timeoutInSeconds:
              type: integer
              example: 900

    ZoneState:
      type: object
      properties:
        tadoMode:
          type: string
          example: HOME
          description: "known values: HOME"
        geolocationOverride:
          type: boolean
          example: true
        geolocationOverrideDisableTime:
#          type: ???
          nullable: true
        preparation:
#          type: ???
          nullable: true
        setting:
          type: object
          properties:
            type:
              type: string
              example: HEATING
              description: "known values: HEATING, HOT_WATER"
            power:
              type: string
              example: ON
              description: "known values: ON, OFF"
            temperature:
              type: object
              nullable: true
              properties:
                celsius:
                  type: number
                  example: 15
                fahrenheit:
                  type: number
                  example: 59
        overlayType:
          type: string
          example: MANUAL
          description: "known values: MANUAL"
          nullable: true
        overlay:
          type: object
          nullable: true
          properties:
            type:
              type: string
              example: MANUAL
              description: "known values: MANUAL"
            setting:
              type: object
              properties:
                type:
                  type: string
                  example: HEATING
                  description: "known values: HEATING, HOT_WATER"
                power:
                  type: string
                  example: ON
                  description: "known values: ON"
                temperature:
                  type: object
                  nullable: true
                  properties:
                    celsius:
                      type: number
                      example: 15
                    fahrenheit:
                      type: number
                      example: 59
            termination:
              type: object
              properties:
                type:
                  type: string
                  example: TADO_MODE
                  description: "known values: TADO_MODE"
                typeSkillBasedApp:
                  type: string
                  example: TADO_MODE
                  description: "known values: TADO_MODE"
                projectedExpiry:
#                  type: ???
                  nullable: true
            openWindow:
#                type: ???
              nullable: true
            nextScheduleChange:
              type: object
              nullable: true
              properties:
                start:
                  type: string
                  format: date-time
                setting":
                  type: object
                  properties:
                    type:
                      type: string
                      example: HEATING
                      description: "known values: HEATING, HOT_WATER"
                    power:
                      type: string
                      example: ON
                      description: "known values: ON"
                    temperature:
                      type: object
                      nullable: true
                      properties:
                        celsius:
                          type: number
                          example: 15
                        fahrenheit:
                          type: number
                          example: 59
        nextTimeBlock:
          type: object
          properties:
            start:
              type: string
              format: date-time
              example: "2024-07-31T20:00:00.000Z"
        link:
          type: object
          properties:
            state:
              type: string
              example: ONLINE
              description: "known values: ONLINE"
        runningOfflineSchedule:
          type: boolean
          example: false
        activityDataPoints:
          type: object
          description: empty for a HOT_WATER zone
          properties:
            heatingPower:
              type: object
              properties:
                type:
                  type: string
                  example: PERCENTAGE
                  description: "known values: PERCENTAGE"
                percentage:
                  type: number
                  example: 0
                timestamp:
                  type: string
                  format: date-time
                  example: "2024-07-30T21:53:40.294Z"
        sensorDataPoints:
          type: object
          description: empty for a HOT_WATER zone
          properties:
            insideTemperature:
              type: object
              properties:
                celsius:
                  type: number
                  format: float
                  example: 27.97
                fahrenheit:
                  type: number
                  format: float
                  example: 82.35
                timestamp:
                  type: string
                  format: date-time
                  example: "2024-07-30T21:51:41.178Z"
                type:
                  type: string
                  example: "TEMPERATURE"
                  description: "known values: TEMPERATURE"
                precision:
                  type: object
                  properties:
                    celsius:
                      type: number
                      format: float
                      example: 0.1
                    fahrenheit:
                      type: number
                      format: float
                      example: 0.1
            humidity:
              type: object
              properties:
                type:
                  type: string
                  example: PERCENTAGE
                  description: "known values: PERCENTAGE"
                percentage:
                  type: number
                  example: 51
                timestamp:
                  type: string
                  format: date-time
                  example: "2024-07-30T21:51:41.178Z"
